.row
  .small-12.large-6.small-centered.columns
    .panel.radius.twilions
      %h5 Sign up to be notified of the arrival of
      %h2 Jarod and Sarah's baby!
      %a.button.small{:href => "/signup"} Let's do this!