<h1>Listing users</h1>
<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= user.name %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.send_mms %></td>
    <td><%= user.verified %></td>
  </tr>
<% end %>
</table>
